@import "tailwindcss";

@theme {
  --color-deep-crimson: #9b1d20;
  --color-midnight-violet: #3d2b3d;
  --color-azure-mist: #cee0dc;
  --color-pale-sky: #b9cfd4;
  --color-lilac-ash: #afaab9;
  --color-cream: #f8f5f2;
  --color-ink: #1a1018;
}

@theme inline {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

body {
  background-color: #f8f5f2;
  color: #1a1018;
  font-family: var(--font-sans), sans-serif;
}
